@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/* Fuentes
font-family: 'Josefin Sans', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
/* VARIABLES */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box; }

h1 {
  color: white;
  font-size: 70px;
  padding: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  line-height: 1.2;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.774);
  opacity: 0;
  animation: fadeInAndScale 1s forwards; }

@keyframes fadeInAndScale {
  from {
    opacity: 0;
    transform: scale(0.5); }
  to {
    opacity: 1;
    transform: scale(1); } }

.logos .logo {
  display: flex;
  align-items: center; }
  .logos .logo a {
    margin-right: 5px;
    position: relative; }
    .logos .logo a img {
      margin-top: 10px;
      margin-left: 10px;
      transition: transform 0.3s ease; }
      .logos .logo a img.acceso, .logos .logo a img.mg, .logos .logo a img.carrito {
        width: 28px;
        height: 28px; }
      .logos .logo a img:hover {
        transform: scale(1.1); }

/* Fondo de la p치gina */
body {
  background-color: #FF3CAC;
  background-image: linear-gradient(135deg, #FF3CAC 0%, #FFBB3C 50%, #2B86C5 100%);
  background-size: cover;
  background-attachment: fixed; }

/* Barra de navegaci칩n */
.buscador {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 300px;
  /* Quita la x del buscadr*/ }
  .buscador input[type="search"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 30px 8px 8px;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
    border-radius: 30px; }
  .buscador input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
    display: none; }
  .buscador .lupa {
    height: 20px;
    width: 20px;
    position: relative;
    left: -35px;
    cursor: pointer; }
    .buscador .lupa img {
      filter: invert(1); }

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center; }
  .navbar-container .navbar {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 18px;
    max-width: 1200px; }
    .navbar-container .navbar .navbar-inside {
      list-style: none; }
    .navbar-container .navbar li {
      margin-right: auto; }
      .navbar-container .navbar li a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        transition: color 0.3s ease-in-out; }
        .navbar-container .navbar li a::before {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: rgba(0, 0, 0, 0.5);
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease-in-out; }
        .navbar-container .navbar li a:hover {
          color: rgba(0, 0, 0, 0.5); }
          .navbar-container .navbar li a:hover::before {
            transform: scaleX(1); }

/*DETALLE Y PRODUCTOS DEL INICO*/
.subt-index {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 1s forwards;
  font-size: 40px; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.cards {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: white;
  gap: 100px;
  font-family: 'Roboto', sans-serif;
  padding: 20px; }
  .cards .card {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 30px;
    color: white;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    align-items: center; }
    .cards .card .subcard {
      flex: 1;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px; }
      .cards .card .subcard h4 {
        font-size: 20px;
        margin-bottom: 10px; }
      .cards .card .subcard p {
        font-size: 15px;
        margin: 0; }

/*PRODUCTOS*/
.subt-productos {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 1s forwards;
  font-size: 40px; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.productos-container {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .productos-container div {
    display: flex;
    flex-direction: column;
    margin: 30px; }
    .productos-container div h3 {
      color: white;
      font-size: 24px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      padding: 10px;
      background-color: #0000006e;
      border-radius: 5px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease; }
      .productos-container div h3:hover {
        background-color: #6200b363;
        transform: scale(1.05); }
    .productos-container div img {
      width: 200px;
      border-radius: 10px; }

/*AYUDA*/
.ayuda-container h2 {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 1s forwards;
  font-size: 40px; }

.ayuda-container p {
  color: white;
  text-align: left;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  margin: 40px; }

/* CONTACTO */
.subt-contac {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 1s forwards;
  font-size: 40px; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px; }

.contacto-container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  margin-top: 60px; }
  .contacto-container h4 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; }
    .contacto-container h4.contacto-subtitle {
      font-size: 24px;
      text-align: center;
      color: white; }
  .contacto-container .contacto-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px; }
  .contacto-container .contacto-form__field {
    margin-bottom: 15px; }
  .contacto-container .contacto-form__label {
    display: block;
    font-size: 16px;
    font-weight: bold; }
  .contacto-container .contacto-form__input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000; }
  .contacto-container .contacto-form__textarea {
    resize: vertical;
    min-height: 100px; }

.contacto-form__button {
  padding: 10px 100px;
  font-size: 10px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.197);
  color: #fff;
  border: none;
  border-radius: 5px;
  border: 2px solid #010101;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: all 0.3s ease-in-out;
  margin: 0 auto; }
  .contacto-form__button:hover {
    color: #fff;
    background-color: #00000093;
    transform: scale(1.03); }

/* NOSOTROS */
.nosotros-container h2 {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 1s forwards;
  font-size: 40px; }

p {
  text-align: center;
  margin: 60px;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 24px; }

.novedades {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  color: white; }
  .novedades .novedades .button-subs {
    display: flex;
    justify-content: space-around; }

.button-subs {
  width: 400px;
  background-color: #2120224f;
  color: white;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  font-size: 30px;
  display: block;
  margin: auto;
  margin-top: 20px; }

/* Sublimacion (implementacion de grid) */
.subt-subli {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 1s forwards;
  font-size: 40px; }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  margin-top: 40px; }
  .grid .just1,
  .grid .just2,
  .grid .just3,
  .grid .just4,
  .grid .just5,
  .grid .just6 {
    border-radius: 5px;
    overflow: hidden; }
    .grid .just1 img,
    .grid .just2 img,
    .grid .just3 img,
    .grid .just4 img,
    .grid .just5 img,
    .grid .just6 img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      transition: transform 0.3s ease; }
    .grid .just1 img:hover,
    .grid .just2 img:hover,
    .grid .just3 img:hover,
    .grid .just4 img:hover,
    .grid .just5 img:hover,
    .grid .just6 img:hover {
      transform: scale(1.1); }
    .grid .just1 h3,
    .grid .just2 h3,
    .grid .just3 h3,
    .grid .just4 h3,
    .grid .just5 h3,
    .grid .just6 h3 {
      color: white;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.559);
      color: #fff;
      border: 2px solid transparent;
      border-radius: 5px;
      transition: background-color 0.3s ease, border-color 0.3s ease;
      margin-bottom: 30px; }
      .grid .just1 h3:hover,
      .grid .just2 h3:hover,
      .grid .just3 h3:hover,
      .grid .just4 h3:hover,
      .grid .just5 h3:hover,
      .grid .just6 h3:hover {
        background-color: black;
        border-color: white; }

/* Pie de p치gina */
.footer-container {
  display: flex;
  margin-top: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px; }
  .footer-container .footer-img {
    display: flex;
    gap: 15px;
    align-items: center; }
  .footer-container .footer-img img {
    transition: transform 0.3s ease; }
  .footer-container .footer-img img:hover {
    transform: scale(1.2); }
  .footer-container .footer-button {
    position: relative;
    display: inline-block; }
    .footer-container .footer-button a {
      text-decoration: none;
      color: white;
      font-size: 24px;
      font-family: 'Montserrat', sans-serif;
      padding: 8px 12px;
      border: 2px solid #010101;
      border-radius: 4px;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      gap: 10px; }
      .footer-container .footer-button a:hover {
        color: #fff;
        background-color: #00000093;
        transform: scale(1.1); }
    .footer-container .footer-button .button-icon img {
      width: 32px;
      filter: invert(1); }

/* FINAL CODIGO */
/* MEDIA QUERY */
/* (1024px en adelante) */
/*------------------------------------------media query h1 logos navbar en inicio--------------------------------------------------------*/
@media (max-width: 1024px) {
  h1 {
    font-size: 70px;
    padding: 10px; }
  .logos .logo a img {
    width: 30px;
    height: 30px; }
  .navbar {
    gap: 5px;
    justify-content: space-between; }
  .navbar-container .navbar {
    flex-wrap: wrap; } }

/* (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 50px;
    padding: 8px; }
  .logos .logo a img {
    width: 25px;
    height: 25px; }
  .navbar {
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center; }
  li {
    flex-basis: 100%;
    text-align: center; } }

/* (hasta 767px a 320px) */
@media (max-width: 767px) {
  h1 {
    font-size: 36px;
    padding: 6px; }
  .logos .logo a img {
    width: 20px;
    height: 20px; }
  .navbar {
    gap: 0;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center; }
  li {
    flex-basis: 100%;
    text-align: center; }
  .navbar li {
    margin-bottom: 10px; } }

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
    padding: 4px; }
  .logos .logo a img {
    width: 15px;
    height: 15px; }
  .navbar {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center; }
  .navbar li {
    margin-bottom: 8px; } }

/*------------------------------------------media query h2 y cards del inicio--------------------------------------------------------*/
/* (1024px en adelante) */
@media (min-width: 1024px) {
  .cards {
    display: flex;
    justify-content: center;
    font-size: 40px;
    gap: 60px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    flex-wrap: wrap; }
  .card {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 30px;
    color: white;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    align-items: center; }
    .card .subcard {
      flex: 1;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px; }
      .card .subcard h4 {
        font-size: 20px;
        margin-bottom: 10px; }
      .card .subcard p {
        font-size: 15px;
        margin: 0; } }

/* (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .subt-index {
    font-size: 30px;
    padding: 8px;
    margin-top: 30px; }
  .cards {
    font-size: 40px;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center; }
  .card h4 {
    font-size: 25px; }
  .subcard {
    width: 200px;
    padding: 16px; }
  .subcard h4 {
    font-size: 18px; }
  .subcard p {
    font-size: 14px; } }

/* (320px a 767px) */
@media (min-width: 320px) and (max-width: 767px) {
  .subt-index {
    font-size: 24px;
    padding: 6px;
    margin-top: 20px; }
  .cards {
    font-size: 30px;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center; }
  .card h4 {
    font-size: 20px; }
  .subcard {
    width: 160px;
    padding: 12px; }
  .subcard h4 {
    font-size: 16px; }
  .subcard p {
    font-size: 12px; } }

/*------------------------------------------media query footer------------------------------------------*/
/* (1024px en adelante) */
@media (min-width: 1024px) {
  .footer-container {
    margin-top: 100px; }
  .footer-img {
    gap: 15px; }
  .footer-container button {
    width: 240px;
    padding: 10px; } }

/* (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .footer-container {
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: center; }
  .footer-img {
    gap: 10px; }
  .footer-container button {
    width: 200px;
    padding: 8px; } }

/* (hasta 767px) */
@media (max-width: 767px) {
  .footer-container {
    margin-top: 60px;
    flex-direction: column;
    align-items: center; }
  .footer-img {
    gap: 8px; }
  .footer-container button {
    width: 160px;
    padding: 6px; } }

/*--------------------------------------------------------media query pagina productos-------------------------------------------------*/
/* (hasta 767px) */
@media (max-width: 767px) {
  .productos-container div {
    margin: 15px; }
  .productos-container h3 {
    font-size: 18px; }
  .productos-container img {
    width: 150px; } }

/* buscador lupa */
@media screen and (max-width: 1024px) {
  .buscador {
    width: 90%; } }

@media screen and (max-width: 768px) {
  .buscador {
    width: 100%; } }

@media screen and (max-width: 576px) {
  .buscador {
    width: 100%; } }

/* -------------------------------------------------------------CONTACTO MEDIA QUERY---------------------------------------------------*/
/* Media Query para dispositivos de 1024px o m치s */
@media (min-width: 1024px) {
  .subt-contac {
    font-size: 40px; }
  h4.contacto-subtitle {
    font-size: 38px; }
  .contacto-form .contacto-form__field .contacto-form__label {
    font-size: 18px; }
  .contacto-form .contacto-form__field .contacto-form__input {
    font-size: 18px; }
  .contacto-form .contacto-form__button {
    font-size: 18px; } }

/* Media Query para dispositivos de hasta 768px de ancho */
@media (max-width: 768px) {
  .contacto-container {
    padding: 10px; }
  .subt-contac {
    font-size: 30px; }
  h4.contacto-subtitle {
    font-size: 28px; }
  .contacto-form .contacto-form__field .contacto-form__label {
    font-size: 14px; }
  .contacto-form .contacto-form__field .contacto-form__input {
    font-size: 14px; }
  .contacto-form__button {
    font-size: 16px; } }

/* Media Query para dispositivos de hasta 480px de ancho */
@media (max-width: 480px) {
  .subt-contac {
    font-size: 26px; }
  h4.contacto-subtitle {
    font-size: 24px; }
  .contacto-form .contacto-form__field .contacto-form__label {
    font-size: 12px; }
  .contacto-form .contacto-form__field .contacto-form__input {
    font-size: 12px; }
  .contacto-form .contacto-form__button {
    font-size: 14px; } }

/* Media Query para dispositivos de hasta 320px de ancho */
@media (max-width: 320px) {
  .subt-contac {
    font-size: 24px; }
  h4.contacto-subtitle {
    font-size: 12px; }
  .contacto-form .contacto-form__field .contacto-form__label {
    font-size: 10px; }
  .contacto-form .contacto-form__field .contacto-form__input {
    font-size: 10px; }
  .contacto-form .contacto-form__button {
    font-size: 12px;
    padding: 10px;
    margin: auto;
    align-items: center; } }

/* Ajustes para pantallas con un ancho de 1024px o menos */
@media screen and (max-width: 1024px) {
  .nosotros-container {
    padding: 10px; }
  .nosotros-container h2 {
    margin: 10px;
    font-size: 26px; }
  .nosotros-container p {
    margin: 10px; }
  .nosotros-container .novedades button {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    font-size: 24px; } }

/* Ajustes para pantallas con un ancho de 768px o menos */
@media screen and (max-width: 768px) {
  .nosotros-container h2 {
    font-size: 28px; }
  .nosotros-container p {
    font-size: 24px; }
  .nosotros-container button {
    font-size: 24px;
    width: autos; } }

/* Ajustes para pantallas con un ancho de 480px o menos */
@media screen and (max-width: 480px) {
  .nosotros-container h2 {
    font-size: 24px; }
  .nosotros-container p {
    font-size: 22px; }
  .nosotros-container button {
    width: auto;
    font-size: 18px;
    padding: 10px; } }

/* Ajustes para pantallas con un ancho de 320px o menos */
@media screen and (max-width: 320px) {
  .nosotros-container h2 {
    font-size: 22px;
    margin: 10px 5px; }
  .nosotros-container p {
    font-size: 20px;
    margin: 10px 5px; }
  .nosotros-container button {
    width: 200px;
    font-size: 20px;
    padding: 10px; } }
