@import "./utilities/variables";
@import "./utilities/mixins";

@import "./base/type";
@import "./base/reset";

@import "./layout/main-index";
@import "./layout/main-header";
@import "./layout/main-productos";
@import "./layout/main-ayuda";
@import "./layout/main-contacto";
@import "./layout/main-sublimacion";
@import "./layout/main-footer";
@import "./layout/main-background";
@import "./layout/main-nosotros";

@import "./layout/media-1024px";
@import "./layout/media-768px";
@import "./layout/media-320px";

/* Fuentes
font-family: 'Josefin Sans', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/*------------------------------------------media query footer------------------------------------------*/

/* (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .footer-container {
        margin-top: 80px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-img {
        gap: 10px;
    }

    .footer-container button {
        width: 200px;
        padding: 8px;
    }
}

/* (hasta 767px) */
@media (max-width: 320px) {
    .footer-container {
        margin-top: 60px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

/*--------------------------------------------------------media query pagina productos-------------------------------------------------*/

/* buscador lupa */
@media screen and (max-width: 1024px) {
    .buscador {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .buscador {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .buscador {
        width: 100%;
    }
}

/* -------------------------------------------------------------CONTACTO MEDIA QUERY---------------------------------------------------*/

/* Media Query para dispositivos de hasta 480px de ancho */
@media (max-width: 480px) {
    .subt-contac {
        font-size: 26px;
    }

    h4.contacto-subtitle {
        font-size: 24px;
    }

    .contacto-form {
        .contacto-form__field {
            .contacto-form__label {
                font-size: 12px;
            }

            .contacto-form__input {
                font-size: 12px;
            }
        }

        .contacto-form__button {
            font-size: 14px;
        }
    }
}

/* Media Query para dispositivos de hasta 320px de ancho */
@media (max-width: 320px) {
    .subt-contac {
        font-size: 24px;
    }

    h4.contacto-subtitle {
        font-size: 12px;
    }

    .contacto-form {
        .contacto-form__field {
            .contacto-form__label {
                font-size: 10px;
            }

            .contacto-form__input {
                font-size: 10px;
            }
        }

        .contacto-form__button {
            font-size: 12px;
            padding: 10px;
            margin: auto;
            align-items: center;
        }
    }
}


//--------------------------------------------------------NOSOTROS MEDIA QUERY-----------------------------------------------------------------//

/* Ajustes para pantallas con un ancho de 320px o menos */
@media screen and (max-width: 320px) {
    .nosotros-container h2 {
        font-size: 22px;
        margin: 10px 5px;
    }

    .nosotros-container p {
        font-size: 20px;
        margin: 10px 5px;
    }

    .nosotros-container button {
        width: 200px;
        font-size: 20px;
        padding: 10px;
    }
}