@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Fuentes
font-family: 'Josefin Sans', sans-serif;
font-family: 'Bebas Neue', sans-serif;
*/

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

// Encabezado //

h1 {
    color: white;
    font-size: 70px;
    padding: 10px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
}

.logos {
    .logo {
        display: flex;
        align-items: center;

        a {
            margin-right: 10px;

            img {
                width: 30px;
                height: 30px;
            }

            &:hover img {
                opacity: 0.7;
                // Reduce la opacidad al pasar el cursor por encima
            }
        }
    }
}

.buscador {
    input {
        height: 30px;
        border-radius: 10px;
    }
}

/* Fondo de la página */

body {
    background-image: url("../assets/img/backgroundOK.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Barra de navegación */

.navbar {
    list-style: none;
    display: flex;
    gap: 100px;
    align-items: center;

    &-inside {
        list-style: none;
    }

    li {
        a {
            text-decoration: none;
            color: white;
            font-size: 30px;
            font-family: 'Bebas Neue', sans-serif;

            &:hover {
                color: #fff;
                background-color: #333;
                border: 2px solid #333;
                padding: 8px 12px;
                border-radius: 4px;
                transition: all 0.3s ease-in-out;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
        }
    }
}