/*HTML - AYUDA*/

.ayuda-container {
    h2 {
        color: $colorfont-h2;
        text-align: center;
        margin-top: 20px;
        font-family: 'Montserrat', sans-serif;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        animation: fadeIn 1s forwards;
        font-size: 40px;
    }

    p {
        color: $colorfont-text;
        text-align: left;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
        margin: 40px;
    }
}
