/*HTML - AYUDA*/

.ayuda-container {
    h2 {
        @extend .subt-index
    }

    p {
        color: $colorfont-text;
        text-align: left;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
        margin: 40px;
    }
}
