/* HTML - CONTACTO */

.subt-contac {
    @extend .subt-index
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.contacto-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    margin-top: 60px;


    h4 {
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;

        &.contacto-subtitle {
            font-size: 24px;
            text-align: center;
            color: rgb(255, 255, 255);
        }
    }

    .contacto-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
    }

    .contacto-form__field {
        margin-bottom: 15px;
    }

    .contacto-form__label {
        display: block;
        font-size: 16px;
        font-weight: bold;
    }

    .contacto-form__input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        color: #000;
    }

    .contacto-form__textarea {
        resize: vertical;
        min-height: 100px;
    }
}

.contacto-form__button {
    padding: 10px 100px;
    font-size: 10px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.197);
    color: #fff;
    border: none;
    border-radius: 5px;
    border: 2px solid #010101;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;

    &:hover {
        color: #fff;
        background-color: #00000093;
        transform: scale(1.03);
    }
}